
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#515076;
    background-color: #ffffff;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    margin: 0;
    color:#515076
}

.list-products {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-products > li > h2 {
    margin-top: 5px;
}

.list-products li h2 + p {
    margin-top: 5px;
}

.product-ingredients {
    margin-top: 15px;
}

.product-ingredients ul {
    padding-left: 15px;
    margin-left: 0;
    list-style-position: outside;
}

.product-ingredients ul li::marker {
    font-size: 1.5em;
}

.list-products > li {
    border: none;
    padding: 25px;
    list-style: none;
    width: 340px;
    height: 573px;
    background-color: #F7F7FA;
}

.list-products img {
    border: none;
    padding: 25px;
    background-color: #ffffff;
}

.skin-type {
    font-size: 12px;
    line-height: 24px;
    display: block;
    color:#A5A3B9;
    padding-top: 30px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content:space-between;
    padding-top: 25px;

}